In [ ]:
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
import shutil

shutil.copyfile('test1.txt','test2.txt')

'test2.txt'

In [3]:
pwd()

'C:\\Users\\लााीोर\\Ineuron'

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [4]:
import csv
with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Title", "Author", "year"])
    writer.writerow(["The Weirdstone of Brisingamen" ,"Alan Garner", 1960])
    writer.writerow(["Perdido Street Station" , "China Miéville", 2000])
    writer.writerow(["Thud!", "Terry Pratchett",2005])
    writer.writerow(["The Spellman Files","Lisa Lutz",2007])
    writer.writerow(["Thud!", "Terry Pratchett",2005])

In [ ]:
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields:
title (text), author (text), and year (integer).

In [5]:
import sqlite3
#connecting with the database.
db = sqlite3.connect("books.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists books")
# Create table as per requirement
db.execute("create table books(title text, author text, year int)")

In [ ]:
5. Read books.csv and insert its data into the book table.

In [7]:
import csv
import pandas as pd
with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Title', 'Author', 'year']
['The Weirdstone of Brisingamen', 'Alan Garner', '1960']
['Perdido Street Station', 'China Miéville', '2000']
['Thud!', 'Terry Pratchett', '2005']
['The Spellman Files', 'Lisa Lutz', '2007']
['Thud!', 'Terry Pratchett', '2005']

In [23]:
import csv, sqlite3

con = sqlite3.connect("books.db") # change to 'sqlite:///your_filename.db'
cur = con.cursor()
cur.execute("drop table if exists books")
cur.execute("CREATE TABLE booook (title text, author text, year int);") # use your column names here

with open('books.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['Title'], i['Author'],i['year']) for i in dr]

cur.executemany("INSERT INTO booook (title, author, year) VALUES (?, ?,?);", to_db)
con.commit()
con.close()

In [25]:
db.execute('''SELECT * FROM booook''').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Thud!', 'Terry Pratchett', 2005)]

In [ ]:
6. Select and print the title column from the book table in alphabetical order.

In [27]:
db.execute('''select title from booook order by title asc ''').fetchall()

[('Perdido Street Station',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',),
 ('Thud!',)]

In [ ]:
7. From the book table, select and print all columns in the order of publication.

In [28]:
db.execute('''select * from booook order by year desc ''').fetchall()

[('The Spellman Files', 'Lisa Lutz', 2007),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960)]

In [ ]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [29]:
pip install sqlalchemy

Collecting sqlalchemyNote: you may need to restart the kernel to use updated packages.

  Downloading SQLAlchemy-1.4.14-cp38-cp38-win_amd64.whl (1.5 MB)
Collecting greenlet!=0.4.17; python_version >= "3"
  Downloading greenlet-1.1.0-cp38-cp38-win_amd64.whl (96 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.0 sqlalchemy-1.4.14

In [59]:
import sqlalchemy as db

engine = db.create_engine('sqlite:///books.db')
connection = engine.connect()
metadata = db.MetaData()
boo = db.Table('booook', metadata, autoload=True, autoload_with=engine)

In [72]:




#print(repr(metadata.tables['booook']))

In [ ]:
print(boo.columns.keys())

In [68]:
query = db.select([boo])

In [69]:
ResultProxy = connection.execute(query)

In [70]:
ResultSet = ResultProxy.fetchall()

In [71]:
ResultSet[:]

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Thud!', 'Terry Pratchett', 2005)]

In [ ]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer.
Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester').
Print all the fields for test.

In [73]:
pip install redis

Collecting redis
  Downloading redis-3.5.3-py2.py3-none-any.whl (72 kB)
Installing collected packages: redis
Successfully installed redis-3.5.3
Note: you may need to restart the kernel to use updated packages.

In [78]:
import redis
conn = redis.Redis()
conn.delete('test')

0

In [79]:
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

<ipython-input-79-b2322e814ff4>:1: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

True

In [80]:
conn.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

In [ ]:
10. Increment the count field of test and print it.

In [81]:
conn.hincrby('test', 'count', 3)

4

In [82]:
conn.hget('test', 'count')

b'4'